<a href="/users/sign_out" data-method="delete">Logout</a> <br><br>

<% @questions.each do |question| %>
  <%= question.question %>
  <hr style="border-top: dotted 1px;" />
<% end %>
<%= paginate @questions %>
